.CodeMirror-gutters {
    background-color: #ddd;
    /*border-left: 1px solid #bbb;*/
}

.CodeMirror-code div pre {
    border-bottom: 1px dashed rgba(1,1,1,.1);
}

.block-mirror-read-only .CodeMirror-scroll {
    background-color: #E5E5E5;
}


.blockly-readonly-layer {
    color: white;
    background-color: white;
    opacity: .25;
    position: absolute;
    z-index: 100;
}

.blockmirror-toolbox-variable>.blocklyFlyoutLabelText {
    font-style: normal;
    fill: black;
}

.blockmirror-toolbox-variable>.blocklyFlyoutLabelBackground {
    font-style: normal;
    fill: white;
    opacity: 1;
    stroke: darkgray;
    transform: translate(-1px, -5px) scale(1.1,1.5);
}
